<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
 	 <package name="tesa.official.bean"/>
     <package name="tesa.attr.bean"/>    
    <package name="tesa.res.bean"/>    
    <package name="tesa.hotel.bean"/>    
    <package name="tesa.consert.bean"/>    
    <package name="tesa.bus.bean"/>    
    <package name="tesa.palace.bean"/>    
    <package name="tesa.qna.bean"/>    
    <package name="tesa.qna.bean"/>    
  </typeAliases>


</configuration>