<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tesa.member">
	<select id="p_in_member" statementType="CALLABLE">
		{
			call P_IN_MEMBER(#{id},#{pw}, #{name}, #{phone}, #{email})
		}
	</select>
	
	<select id="getid" resultType="member">
		select * from member where m_id=#{id}
	</select>
	
	<select id="login" resultType="java.lang.Integer">
		select count(*) from member where m_id=#{id} and m_pw=#{pw}
	</select>
</mapper>