@charset "utf-8";

.con-items{width:100%}
.con-item {position:relative;border:1px solid #eee; height:379px;}
.con-item1 {position:relative;}
.con-item::after{content:'';clear:both;display:block;}
.con-img {float:left}
.con-text {float:left;padding:50px;margin-left:18px;}
.con-title {font-weight:bold;font-size:32px;color:black}
.con-subject {font-weight:bold;font-size:20px;color:black;margin-right:20px}
.con-content{width:500px;}
.con-detail{padding:24px;display:block;background:lightgray;width:120px;height:79px;position:absolute;bottom:0;right:0}
.con-date{margin-left:5%; margin-bottom:9%;}
.con-tc{background-color:white; color:black;}
.con-rad {border-radius: 70px; border:1px solid lightgray; font-size:20px; margin-bottom:5%;}
.con-rad3 {border-radius: 70px; border:1px solid lightgray; font-size:15px; margin-bottom:5%; margin-right:3%; margin-top:2%;}
.con-rad2 {border-radius: 70px; font-size:15px; margin-bottom:5%;}
.con-cardbtn {border-radius: 70px; font-size:15px; margin-bottom:5%; font-weight:bold; border:2px solid #000; background:#fff;display:inline-block;}
.con-cardbtn2 {border-radius: 70px; font-size:15px; margin-bottom:5%; font-weight:bold; border:2px solid #e65540; background:#fff;display:inline-block;}
.con-hash{float:left;font-weight:bold; font-size:15px; margin-top:5%;}
.con-sub > a {margin-left:3%;}
.con-sub > a:nth-of-type(1){font-weight:bold;border-bottom:4px solid #e65540; color:#e65540;}
.con-sub{text-align:center; margin-bottom:4%; }
.sizefullb {width: 110px;height: 110px;}
.sizefullbb {width: 100px;height: 30px;border:2px solid #e65540; color:#e65540; font-size:14px;}
.sizefullbbb {width: 100px;height: 30px;}
.sizefullbbbb {width: 150px;height: 45px; text-align:center;}
.sizefullbbbbb {width: 195px;height:45px;border:2px solid #e65540;font-size:16px;margin-right:5%;}
.sizefullbbbbbb {width: 88px;height:32px;border:2px solid #e65540;font-size:13px;margin-right:5%;}
.con-list{margin-top:13%; margin-left:25%;}
.r_rebtn{
	backgroung:gray;
	align:center;
	font-size:13px;
	width:110px;
	height:35px;
	border-radius: 70px;
	 margin-bottom:5%;
	 background:#a5aec2;
	 font-weight:bold;;
	 color:white;
	 font-family:Malgun Gothic;
	 display:flex;
	 margin-right:3%;
}
.r_ree{
	color:#555;
	width: 300px;
    padding-top: 6px;
}
.padding-left31{
	padding-left: 34%;
	    padding-top: 7%;
}
.r_reli{
	display:flex;
}
.l-text5 {
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: black;
	line-height: 1.2;
	text-transform: uppercase;
	margin-right:2%;
	font-size:40px;
}
.l-text7 {
	font-family: Montserrat-Bold;
	color: black;
	line-height: 1.2;
	text-transform: uppercase;
	margin-right:2%;
	font-size:40px;
}
.s-text6 {
	font-family: Montserrat-Regular;
	font-size: 15px;
	font-weight: bold;
	color: black;
	line-height: 1;
}
.l-text3 {
	font-family: Montserrat-Bold;
	font-size: 60px;
	font-weight: bold;
	color: white;
	line-height: 1.2;
	text-transform: uppercase;
}
.l-text4 {
	font-family: Montserrat-Bold;
	font-size: 20px;
	font-weight: bold;
	color: white;
	line-height: 1.2;
	text-transform: uppercase;
}
.l-texth {
	font-family: Montserrat-Bold;
	font-size: 30px;
	font-weight: bold;
	color: #e65540;
	line-height: 1.2;
	text-transform: uppercase;
	margin-right:3%;
}
.l-texthh {
	font-family: Montserrat-Bold;
	font-size: 30px;
	font-weight: bold;
	color: black;
	line-height: 1.2;
	text-transform: uppercase;
	margin-right:3%;
}
.p-t-399{padding-top:400px;}
.p-b-399{padding-bottom:400px;}
.size100 {
	width: 110px;
	height: 15px;
	float:left;
}
.btn2{
	margin-left:4%;
}
.btnw{
	width:350px;
	text-align:center;
}
.btnw1{
	width:700px;
	text-align:center;
}
.btnw2{
	width:875px;
	text-aling:center;
	justify-content: center;

}
.secmar{
	margin-left:3%:
}

.l-text6 {
	font-family: Montserrat-Bold;
	font-size: 15px;
	font-weight: bold;
	color: black;
	line-height: 1.2;
	text-transform: uppercase;
}
.card{
	background:#fff;
	padding:75px;
	margin-right:10%;
	width:350px;
	height:435px;
	text-align: center;
}
.card1{
	padding-left:10%;
	background:#fff;
	padding:75px;
	width:775px;
	height:395px;
	text-align: left;
}
.carddate{
	text-align:center;
	font-size:25px;
	line-height:26px;
	font-weight:bold;
	color:black;
}
.cardtitle{
	margin-bottom:30%;
	text-align:center;
	margin-top:30%;
	font-size:22px;
	color:#000;
}
.cardtitle1{
	text-align:center;
	font-size:22px;
	color:#000;
	padding-bottom:40px;
}
.cardbig{
	padding-top:30px;
	margin-top:5%;
	display:flex;
	margin-right: 2%;
}
.cardimg{
	margin-bottom:3%;
}
.cartdate1{
	
	text-align:left;
	font-size:25px;
	line-height:26px;
	color:black;
}
.cardbig1{
	padding-left:100px;
	padding-top:30px;
	width: 980px;
	margin-top:5%;
	display:flex;
}
.cardbig div:last-child {margin-right:0;}
.re_btn{
    width: 347px;
}
.c{color:#e65540;font-weight:bold;}
.d{color:black;font-weight:bold;}
.text1{
	color:white;
	font-size:15px;
}
.color{
	background:#e65540;
}
.reser_title{
	font-size: 17px;
	font-weight: bold;
	font-family: Montserrat-Bold;
	color: white;
	line-height: 1.2;
	text-transform: uppercase;
	margin-right:2%;
	padding-top: 3%;
    margin-bottom: 2%;
    height: 45.576px;
    padding-left: 2%;
}
.reser_titlesec{
	background:#e65540;
}
.reser_li{
	font-weight:bold;
	padding-top: 10%;
	list-style-type : square;
}
textarea{
	resize: none;
	width:600px;
	height:200px;
	padding-left: 2%;
    padding-top: 2%;
    disable:disable;
    margin-left: 3%;
}
.reser_p{
	float: right;
    margin: auto;
    font-size: 13px;
    padding-right: 4%;
    padding-top: 2%;
}
.reser_con_p{
	margin-right: 5%;
}
.reser_con_li{
	display:flex;
	list-style-type : square;
}
input[type=checkbox] {  
	width:12px;
	height:12px;
	border-color:#FF0000;
    border-style:solid;
    border-width:1px;
    background-color:#FFCC66;
    margin-bottom:4%;
}
.hrtitle{
	border:1px solid black;
}

select{
	padding:6px;
}
.reser_table{
	padding-left:5%;
}
th{
	font-size:16px;
	color:orange;
	font-weight:bold;
	padding-bottom: 3px;
	width: 82px;
	padding-left: 13px;
}
.div_table{
	padding-top:20px;
}